<form action="<%= movie_comments_path(movie) %>" method="post" >
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<textarea name="comment[content]" rows="5" cols="15" placeholder="Write comment..." class="form-control"></textarea>
<div class="row">
    <div class="col-10 col-lg-11">
        <%= link_to 'Back', movies_path, class:"btn btn-sm btn-dark button1 button2 mt-2"%>
    </div>
    <div class="col-2 col-lg-1">
        <input type="submit" value="Submit" class="btn btn-sm btn-primary mt-2" >
    </div>
</div>
</form>