<% if !Favourite.exists?(user_id: current_user.id, movie_id: movie.id) %>
  <%= link_to favourite_path(movie.id), method: :movie, remote: true, class:"like-btn" do %>
    <i class="fas fa-star star-icon1"></i>
  <% end %>
  <span class="star-count1"><%= movie.favourites.count %></span>
<% else %>
  <%= link_to create_favourite_path(movie_id: movie.id, id: movie.likes[0].id), method: :delete, remote: true, class:"like-btn" do %>
    <i class="fas fa-star star-icon2"></i>
  <% end %>
  <span class="star-count2"><%= movie.favourites.count %></span>
<% end %>