<footer class="container-fluid bg-dark text-center text-white mt-4">
    <div class="p-4">
      <section class="mb-4 mt-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </section>
    </div>
    <div class="row pt-3 pb-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="col-12 col-lg-4">
        <span class="">Seattle Consulting Myanmar</span>
      </div>
      <div class="col-0 col-lg-2">
      </div>
      <div class="col-12 col-lg-6">
        <span class="">Copyright &copy; Seattle Consulting Myanmar Co.,Lt.All right reserved</span>
      </div>
    </div>
</footer>