<% if !current_user %>
 <div class="d-flex justify-content-center" style="margin-top:300px;">
  <%= link_to 'Sign Up', signup_path, class: "btn btn-primary text-white me-2" %> <span class="mt-2">or</span>
  <%= link_to 'Log In', login_path, class: "btn btn-primary text-white ms-2" %>
 </div>
<% end %>

