<div class="login-center">
<h1 class="text-center my-5 text-danger">Please Login first!!!</h1>
<%= link_to 'click the link to login your account', login_path, class: "d-flex justify-content-center" %>
</div>
