.navbar-brand {
    margin-left: 80px;
}
.nav .navbar-nav .nav-item .nav-link {
    color: #ccc;
}

.nav .navbar-nav .nav-item:hover,
.nav .navbar-nav .nav-item.active {
    color: #fff;
}

.nav .navbar-nav .nav-item:hover .nav-link,
.nav .navbar-nav .nav-item.active .nav-link {
    color: #fff;
}
.nav .navbar-nav .nav-item {
    margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1399.9px) {
    .navbar-brand {
        margin-left: 0;
    }
    .nav .navbar-nav .nav-item {
        margin-right: 0;
    }
}
@media screen and (max-width:767.9px) {
    .navbar-brand {
        margin-left: 0;
    }
    .nav .navbar-nav .nav-item {
        margin-right: 0;
    }
}