input[type="checkbox"] {
    display: none;
}

li {
    list-style: none;
}

.l1 {
    position: relative;
    padding-top: 2px;
    color: #212529;
    font-size: 16px;
    cursor: pointer;
}

.l1:before,
.l1:after {
    /*absolutely positioned*/
    position: absolute;
    top: 0;
    right: 30px;
    left: -30px;
    font-family: FontAwesome;
    font-size: 18px;
}

.l1:before {
    content: '\f096';
    /*checkbox unchecked */
}

.l1:after {
    top: 2px;
    left: -29px;
    overflow: hidden;
    color: #1F4976;
    font-size: 17px;
    content: '\f00c';


    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;
    max-width: 0;
    opacity: 0.5;
}

input[type="checkbox"]:checked+.l1:after {
    max-width: 25px;
    opacity: 1;
}